<template>
  <div class="markdown-article-body" v-html="html"></div>
</template>

<script>
const md = require("markdown-it")(),
  mk = require("markdown-it-katex");
md.use(mk);
const meta = require("markdown-it-meta");

export default {
  props: {
    // post's filename
    fileName: {
      type: String,
    },
  },
  data: function () {
    const markdown = require(`@/assets/posts/${this.fileName}`);
    md.use(meta);
    var out = {};
    out["html"] = md.render(markdown.default);
    out["meta"] = md.meta;
    return out;
  },
};
</script>
