<template>
  <div class="articles">
    <v-container fluid>
      <v-row justify="center" fill-height>
        <v-hover v-slot:default="{ hover }">
          <v-card
            outlined
            width="60%"
            :class="{ 'on-hover': hover }"
          >
            <v-card-title>{{ meta.title }}</v-card-title>
            <v-card-text>{{ meta.des }}</v-card-text>
            <v-card-actions>
              <router-link :to='"/article/"+fileName'>
                <v-btn color="blue" text href>Read</v-btn>
              </router-link>
            </v-card-actions>
          </v-card>
        </v-hover>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Markdown from "@/components/Markdown";
export default {
  extends: Markdown,
  data: () => {
    return { hover: false };
  },
};
</script>
<style scope>
.v-card {
transition: opacity .4s ease-in-out;
}

.v-card:not(.on-hover) {
opacity: 0.6;
 }

.show-btns {
color: rgba(255, 255, 255, 1) !important;
}
</style>