<template>
  <div class="article">
    <v-container>
      <v-row>
        <div>{{fileName}}</div>
      </v-row>
      <v-row justify="center">
        <v-col cols="10">
          <Markdown v-bind:file-name="fileName"></Markdown>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Markdown from "@/components/Markdown";

export default {
  components: { Markdown },
  props: {
    // post's filename
    fileName: {
      type: String,
    },
  },
  data: () => ({
    //
  }),
};
</script>
