<template>
  <div class="home">
    <v-container>
     <post-card
        outlined
        v-for="value in items"
        v-bind:key="value.key"
        v-bind:file-name="value.key"
      ></post-card>
    </v-container>
  </div>
</template>

<script>
import PostCard from "@/components/PostCard";
export default {
  name: "home",
  components: {
    "post-card": PostCard,
  },
  data: () => {
    return {
      items: [
        { key: "test2.md" },
        { key: "auditing.md" },
        { key: "blog_plan.md" },
      ],
    };
  },
};
</script>
